* { box-sizing: border-box; }

body {
  display: flex;
  height: 100vh;
  background-color: #242433;
  color: white;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#game {
  position: relative;
  width: 100%;
  height: 100%;
}

.layer {
  position: absolute;
  white-space: pre;
  font-family: monospace;
  transition: transform linear 0.1s;
}

.actor-player {
  color: salmon;
}

.log {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  border-top: 1px solid #777;
  background-color: #242433;
}

.log:empty {
  display: none;
}

/*

* {
  font-family: arial;
}

h2 {
  font-size: 16px;
}

*/
